.paper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25.8rem;
  width: 43rem;
  border-radius: 1.25rem;
  max-height: 26rem;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.04),
    0 4px 20px -1px rgba(0, 0, 0, 0.1);
  background-image: none;
  background-color: white;
}

.paperDark {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25.8rem;
  width: 43rem;
  border-radius: 1.25rem;
  max-height: 26rem;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.04),
    0 4px 20px -1px rgba(0, 0, 0, 0.1);
  background-image: none;
  background-color: #1f2733;
}

.title {
  font-weight: 600;
  font-size: 1.125rem;
  color: #344767;
}

.titleDarkMode {
  font-weight: 600;
  font-size: 1.125rem;
  color: white;
}

.statItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding: 8px 0;
}

.statGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  width: 100%;
}

.statColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.statTitle {
  font-weight: 600;
  font-size: 1rem;
  color: #7b809a;
  line-height: 0.94;
  letter-spacing: 0.4px;
  text-align: left;
  margin: 0 31.6px 6px 0;
  height: 0.875rem;
}

.statTitleDarkMode {
  font-weight: 600;
  font-size: 1rem;
  color: white;
  line-height: 0.94;
  letter-spacing: 0.4px;
  text-align: left;
  margin: 0 31.6px 6px 0;
  height: 0.875rem;
}

.statLabel {
  width: 7.81rem;
  height: 1.31rem;
  font-size: 1.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: 0.4px;
  text-align: left;
  color: #344767;
}

.statLabelDarkMode {
  width: 7.81rem;
  height: 1.31rem;
  font-size: 1.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: 0.4px;
  text-align: left;
  color: white;
}
