.paper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 21rem;
  width: 43.8rem;
  border-radius: 20px;
  max-height: 400px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  background-image: none;
  background-color: white;
}

.title {
  font-weight: 600;
  font-size: 1.125rem;
  color: #344767;
}

.statItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding: 8px 0;
}

.statGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  width: 100%;
}

.statColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.statTitle {
  font-weight: 600;
  font-size: 1rem;
  color: #7B809A;
  line-height: 0.94;
  letter-spacing: 0.4px;
  text-align: left;
  margin: 0 31.6px 6px 0;
  height: 14px;
}

.statLabel {
  width: 125px;
  height: 21px;
  font-size: 1.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: 0.4px;
  text-align: left;
  color: #344767;
}
