.paper {
  padding: 1.4rem;
  border-radius: 1.25rem;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.04),
    0 4px 20px -1px rgba(0, 0, 0, 0.1);
  background-image: none;
}

.title {
  font-weight: 600;
  margin-bottom: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  margin-bottom: 1rem;
}

.iconContainer {
  background-color: #30c8c8;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 1rem;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statsValue {
  font-weight: 600;
}

.chartContainer {
  width: 19rem;
  height: 15rem;
}
