.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.labelContainer {
  min-width: 150px;
}

.label {
  color: rgba(0, 0, 0, 0.6);
}

.progressContainer {
  width: 100%;
  margin-right: 8px;
}

.progress {
  border-radius: 10px;
  height: 8px;
  background-color: #e2e8f0;
}

.progress .MuiLinearProgress-bar {
  background-color: #30c8c8;
}
