.drawer {
  width: 21.875rem;
  flex-shrink: 0;
}

.drawerPaper {
  width: 21.875rem;
  box-sizing: border-box;
  background-color: #f7fafc;
  padding: 0rem 1rem;
  padding-left: 2.5rem;
  border-right: unset;
}

.drawerPaperDark {
  width: 21.875rem;
  box-sizing: border-box;
  background-color: #1f2733;
  padding: 0rem 1rem;
  padding-left: 2.5rem;
  border-right: unset;
}

.toolbar {
  margin: 55px 0 0 0;
  display: flex;
  justify-content: center;
}

.menuContainer {
  width: 100%;
  background-color: #f7fafc;
}

.menuContainerDark {
  width: 100%;
  background-color: #1f2733;
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.listItem {
  display: flex;
  justify-content: flex-start;
  padding-top: 4px;
  padding-bottom: 4px;
}

.listItem:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.activeItem {
  height: 55px;
  border-radius: 10px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.activeItem:hover {
  background-color: #fff;
}

.listItemIcon {
  min-width: 40px;
  color: #30c8c8;
}

.listItemText {
  font-size: 1.125rem;
  font-weight: 500;
  color: #8EA0B8;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: 0.13px;
  text-align: left;
  flex-grow: 0;
}

.activeItem .listItemText {
  font-weight: 600;
  color: #222222;
}

.footerLogo {
  display: flex;
  justify-content: center;
}

.divider {
  margin: 32px 0;
  border-image-source: linear-gradient(to right, rgba(224, 225, 226, 0), #a4bcd5 50%, rgba(224, 225, 226, 0.16));
  border-bottom: 2px solid;
  border-image-slice: 1;
}
