.root {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 2rem 3rem 2rem 1.5rem;
  background-color: #f7fafc;
}

.contentDark {
  flex-grow: 1;
  padding: 2rem 3rem 2rem 1.5rem;
  background-color: #1f2733;
}

.gridContainer {
  margin-top: 16px;
}

.metricsContainer {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.metricsGrid {
  max-width: 46.8rem;
  display: flex;
  gap: 1.8rem;
}

.chartsContainer {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.smallChartsContainer {
  display: flex;
  gap: 1.775rem;
}
